@import '@sprite/index/sprite.scss';
img {
  margin: 30px;
  transform: rotate3d(1, 2, 3, 5deg);
}
body {
  background: cadetblue url('../../../image/page/index/index.jpg');
}

.icon-index{
  @include sprite($web-optimization);
}
